@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;

  /* background: #fafafa; */
}
.bar {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: medium;
}
.subs {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 10px;
}
.fnt {
  font-family: "Montserrat";
  font-size: 20px;
}
.fnt-abhaya {
  font-family: "Abhaya Libre";
  font-size: xx-large;
  color: black;
}
.fnt-alegre {
  font-family: "Alegreya SC";
  text-align: left;
  font-weight: 800;
  font-size: large;
}
.fnt-calistoga {
  font-family: "Calistoga";
  text-align: left;
  font-size: x-large;
  margin-top: 0%;
  padding-top: 0%;
}

.fnt-sheeva {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 1000;
}
