@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Walter+Turncoat:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;

  /* background: #fafafa; */
}
.bar {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: medium;
}
.popup {
  font-family: "Poppins", sans-serif;
  font-size: x-small;
}
.subs {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 10px;
}
.fnt {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.fnt-bookname {
  font-family: "Walter Turncoat";
  font-size: 20px;
}
.fnt-author {
  font-family: "Ubuntu";
  font-size: 18px;
}
.by {
  font-size: 16px;
  font-weight: bold;
}
.fnt-description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.fnt-user {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.fnt-abhaya {
  font-family: "Abhaya Libre";
  font-size: xx-large;
  color: black;
}
.fnt-alegre {
  font-family: "Alegreya SC";
  text-align: left;
  font-weight: 800;
  font-size: large;
}
.fnt-calistoga {
  font-family: "Calistoga";
  text-align: left;
  font-size: x-large;
  margin-top: 0%;
  padding-top: 0%;
}

.fnt-sheeva {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 1000;
}
