.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.25cm;
}
.paddin {
  padding-left: 1%;
  padding-top: 1%;
}
.borderrr {
  border-top: 0ch;
  border-right: 0ch;
  border-bottom: 0ch;
  border-color: black;
  border-style: groove;
}
.show_time {
  font-size: 12px !important;
  font-style: italic !important;
}
.flexing {
  flex-shrink: 5;
  flex-grow: 5;
  flex-basis: 100%;
}
.upbutton {
  textalign: "center";
  display: "flex";
}
/* Show red borders when filled, but invalid */
input[data-state="invalid"] {
  border-color: hsl(0, 76%, 50%);
}

/* Show green borders when valid */
input[data-state="valid"] {
  border-color: hsl(120, 76%, 50%);
}
