.list {
  display: grid;
  margin: 20px 0px 50px 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 5rem;
}
.book-links {
  color: rgb(25, 135, 84);
  text-decoration: none;
}
.book-links:hover {
  text-decoration: none;
  display: inline-block;
  color: rgb(74, 229, 74);
}
