.list {
  display: grid;
  margin: 20px 0px 50px 20px;
}
.book-links {
  color: rgb(25, 135, 84);
  text-decoration: none;
}
.book-links:hover {
  text-decoration: none;
  display: inline-block;
  color: rgb(74, 229, 74);
}
