@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  /* background-color: #dd6b55; */

  /* background: #fafafa; */
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7em;
  color: black;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidebar {
  /* max-width: 5%; */
  min-height: 100%;
  /* background: #bdbdbd; */
  /* color: black; */
  transition: all 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 5%;
  border-top: 0ch;
  border-right: 0ch;
  border-bottom: 0ch;
  padding-right: 12vw;
  text-align: center;
  z-index: 1;
  /* border-color: black;
  border-style: groove; */
}
.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.link:hover .inside-text {
  text-decoration: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
}
.icon {
  display: inline-block;
  color: white;
}

.bg-success {
  background-image: var(--bs-gradient);
}
.bg-success1 {
  --bs-bg-opacity: 0.75;
  background-color: rgba(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
.bg-success2 {
  --bs-bg-opacity: 0.1;
  background-color: rgba(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

/* .bg-danger1 {
  background-image: var(--bs-gradient);
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
} */

.sidebar ul.components {
  padding: 25px 0;
  /* border-bottom: 1px solid #47748b; */
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.wrapper {
  margin: auto;
  width: 100%;
  /* align-items: flex-start; */
  min-height: 100px;
  overflow: hidden;
  position: relative;
}
.content {
  position: relative;
  /* width: 100%; */
  padding-top: 2%;
  /* padding-left: 20%; */
  margin-left: 205px;
  min-height: 100vh;
  transition: all 0.3s;
  text-align: left;
}
.book-content {
  position: relative;
  width: 80%;
  /* background-color: aqua; */
  padding-left: 1vw;
  margin: 3% 0% auto 20%; /*top right bottom left*/

  /* min-height: 100vh; */
  transition: all 0.3s;
}
.bookshow-content {
  height: 2px;
  text-align: center;
  /* background-color: aqua; */
  padding-left: 1vw;
  margin: 3% 0% auto 20%; /*top right bottom left*/

  /* min-height: 100vh; */
  transition: all 0.3s;
}
.right_header {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
