const appStyle = {
  height: 250px;
  display: flex;
}

const formStyle = {
  margin: auto;
  padding: 20px;
  border: 10px solid #c9c9c9;
  border-radius: 5px;
  background: #f5f5f5;
  width: 400px;
  display: block;
  align: center;
}

const labelStyle = {
  margin: 10px 0 5px 0;
  font-family: Arial;
  font-size: 15px;
}

const inputStyle = {
  margin: 5px 0 10px 0;
  padding: 5px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
}

const submitStyle = {
  margin: 10px 0 0 0;
  padding: 7px 10px;
  border: 1px solid #efffff;
  border-radius: 3px;
  background: #000000;
  width: 100%;
  font-size: 15px;
  color: white;
  display: block;
  align: center;
}
